*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #111;
}
.main{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
.main h2{
    position: relative;
    color: #fff;
    font-size: 12em;
}

.main2{
    background-color: red;
    height: 100vh;
}